
body {
    display: flex;
    flex-direction: column;
}


/* HEADER */

.header {
border: 1px black solid;

background-color: #1f2937;

    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.header-logo {
    border: 1px black solid;

    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}


.header-links {
    border: 1px black solid;

    color: #f9faf8;
    font-size: 18px;

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* CONTAINER-1 */

.container-1 {
    border: 1px black solid;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    justify-content: space-around;
    flex: 1;
}

.container-1-left {
    border: 1px black solid;

    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.container-1-right {
    border: 1px black solid;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.button {

}

/* CONTAINER-2 */

.container-2 {
    border: 1px black solid;

    display: flex;
    flex-direction: column;
}

.container-2-heading {
    border: 1px black solid;

display: flex;
justify-content: space-around;
align-items: center;

}

.container-2-img {
    border: 1px black solid;

display: flex;
justify-content: center;
align-items: center;
gap: 40px;

}

img {
    border: 3px rgb(14, 41, 138) solid;

    border-radius: 10px;
    width: 150px;

    display: flex;

}

span {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #1f2937;
}


/* CONTAINER-3 */

.container-3 {
    border: 1px black solid;
    padding-left: 350px;
    padding-right: 350px;


}

.container-3-small {
    border: 1px black solid;


padding-top: 100px;
padding-bottom: 100px;
}

.quote {
    border: 1px black solid;
    font-size: 36px;
    color: #1f2937;

}

.quote-2 {
    border: 1px black solid;

    display: flex;
    justify-content: end;

}
