
body {
    display: flex;
    flex-direction: column;
}


/* HEADER */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}


.header-links {
    color: #f9faf8;
    font-size: 18px;

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* CONTAINER-1 */

.container-1 {
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;

    display: flex;
    justify-content: space-around;
    flex: 1;
}

.container-1-left {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.container-1-heading {
font-size: 48px;
color: #f9faf8;
padding: 0;
}

.white-text {
    font-size: 18px;
    color: #e5e7eb;
}

.container-1-right {
    border: 1px black solid;

    background-color: gray;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.Button {
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    width: 100px;
    padding: 6px;
    border-color: #3882f6;

}

/* CONTAINER-2 */

.container-2 {
    display: flex;
    flex-direction: column;
}

.container-2-heading {
font-size: 36px;
font-weight: 700;
color: #1f2937;
display: flex;
justify-content: space-around;
align-items: center;

}

.container-2-img {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
padding-bottom: 100px;
padding-top: 20px;

}

img {
    border: 3px rgb(14, 41, 138) solid;
    border-radius: 10px;
    width: 150px;
    display: flex;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2937;
}


/* CONTAINER-3 */

.container-3 {
    padding-left: 350px;
    padding-right: 350px;

    background-color: #e5e7eb;
}

.container-3-small {
padding-top: 50px;
padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.quote-2 {
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 700;

}



/* CONTAINER-4 */

.container-4 {
    display: flex;
    justify-content: center;
}

.container-4-small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #3882f6;
    border-radius: 6px;
}

.container-4-left {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.container-4-heading {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;

}

.container-4-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Button-2 {
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    width: 100px;
    padding: 6px;
    border-color: #e5e7eb;
}

/* FOOTER */

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

